@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #FFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom radio button which is used in create questionnary */
.custom-radioBlue [type='radio']:checked,[type='radio']{
  background-image: none;
  position: absolute;
  top: 3px;
  cursor: pointer;
}
.custom-radioBlue [type="radio"]:checked + label::before, .custom-radioBlue [type="radio"]:not(:checked) + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: calc(50% - 9px);
  width: 17px;
  height: 17px;
  border: 1px solid #AEB3B7;
  border-radius: 100%;
  background: #FFFFFF;
  cursor: pointer;
}
.custom-radioBlue [type="radio"]:not(:checked) + label::before{
  background-color: #FFFFFF;
}
.custom-radioBlue [type="radio"]:checked + label::before {
  border: 1px solid #AEB3B7;
  background-color: #FFFFFF;
}
.custom-radioBlue [type="radio"]:not(:checked) + label::after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.custom-radioBlue [type="radio"]:checked + label::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.custom-radioBlue [type="radio"]:checked + label::after, .custom-radioBlue [type="radio"]:not(:checked) + label::after {
  width: 9px;
  height: 9px;
  position: absolute;
  top: calc(50% - 5px);
  content: '';
  left: 4px;
  border-radius: 100%;
  background: #FFFFFF;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}
.custom-radioBlue [type="radio"]:checked + label:after{
  background-color: #2B333B;
}

/* to remove the default sidebar which is use in questionnary list */
.default-sidebar::-webkit-scrollbar,.custom-scrollbar::-webkit-scrollbar{
  -webkit-appearance: none;
}
.default-sidebar::-webkit-scrollbar:vertical,.scrollbar::-webkit-scrollbar:vertical{
  width: 0;
  background-color: transparent;
  border: none;
}
.default-sidebar::-webkit-scrollbar:horizontal,.custom-scrollbar::-webkit-scrollbar:horizontal {
  height: 0;
  background-color: transparent;
  border: none;
}
.default-sidebar::-webkit-scrollbar-thumb,.custom-scrollbar::-webkit-scrollbar-thumb{
  background-color:transparent;
  border: 0;
  border-radius: 0;
  height: 0;
}