@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #FFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.react-responsive-modal-modal:has(.customModal) {
  min-width: 424px !important;
  border-radius: 10px !important;
  padding: 36px !important;
}

.react-responsive-modal-modal:has(.confirmModal) {
  min-width: 512px !important;
  border-radius: 10px !important;
  padding: 39px 18px 1.5rem 18px !important;
}

.scrollBar::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scrollHide::-webkit-scrollbar  {
  -webkit-appearance: none;
}

.scrollBar::-webkit-scrollbar:vertical {
  position: relative;
  width: 4px;
  background-color: white;
}
.whiteScrollBar::-webkit-scrollbar:vertical {
  position: relative;
  width: 4px;
  background-color: #3B2A6F;
}

.scrollBar::-webkit-scrollbar:horizontal {
  height: 4px;
  background-color: transparent;
  border-radius: 0px !important;
}

.scrollBar::-webkit-scrollbar-thumb {
  background-color: #A79FBE;
  border: transparent;
  border-radius: 22px;
  width: 4px;
  height: 45px;
  right: 20px;
}

.react-responsive-modal-modal {
  padding: 0 !important;
}

/* Custom radio button which is used in create questionnary */
.custom-radioBlue [type='radio']:checked,[type='radio']{
  background-image: none;
  position: absolute;
  top: 3px;
  cursor: pointer;
}
.custom-radioBlue [type="radio"]:checked + label::before, .custom-radioBlue [type="radio"]:not(:checked) + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: calc(50% - 9px);
  width: 17px;
  height: 17px;
  border: 1px solid #AEB3B7;
  border-radius: 100%;
  background: #FFFFFF;
  cursor: pointer;
}
.custom-radioBlue [type="radio"]:not(:checked) + label::before{
  background-color: #FFFFFF;
}
.custom-radioBlue [type="radio"]:checked + label::before {
  border: 1px solid #AEB3B7;
  background-color: #FFFFFF;
}
.custom-radioBlue [type="radio"]:not(:checked) + label::after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.custom-radioBlue [type="radio"]:checked + label::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.custom-radioBlue [type="radio"]:checked + label::after, .custom-radioBlue [type="radio"]:not(:checked) + label::after {
  width: 9px;
  height: 9px;
  position: absolute;
  top: calc(50% - 5px);
  content: '';
  left: 4px;
  border-radius: 100%;
  background: #FFFFFF;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}
.custom-radioBlue [type="radio"]:checked + label:after{
  background-color: #2B333B;
}

/* to remove the default sidebar which is use in questionnary list */
.default-sidebar::-webkit-scrollbar,.custom-scrollbar::-webkit-scrollbar{
  -webkit-appearance: none;
}
.default-sidebar::-webkit-scrollbar:vertical,.scrollbar::-webkit-scrollbar:vertical{
  width: 0;
  background-color: transparent;
  border: none;
}
.default-sidebar::-webkit-scrollbar:horizontal,.custom-scrollbar::-webkit-scrollbar:horizontal {
  height: 0;
  background-color: transparent;
  border: none;
}
.default-sidebar::-webkit-scrollbar-thumb,.custom-scrollbar::-webkit-scrollbar-thumb{
  background-color:transparent;
  border: 0;
  border-radius: 0;
  height: 0;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* customized radio button */

.custom-toggle-switch .switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 21px;
  margin-bottom: 0;
}
.custom-toggle-switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.custom-toggle-switch .slider.round {
  border-radius: 11px;
}
.custom-toggle-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #D6DDEC;
  transition: .4s;
  border: 1px solid #D6DDEC;
  width: 43px;
  height: 24px;
}

/* th:has(button.sortedIcon){
  cursor:pointer;
} */
.custom-toggle-switch .slider.slider1{
  cursor: default !important;
}
.custom-toggle-switch .slider.round::before {
  border-radius: 55%;
}
.custom-toggle-switch .slider::before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 2.5px;
  bottom: 2px;
  background-color: #FFFFFF;
  transition: .4s;
}
custom-toggle-switch input:checked+.slider::before {
  transform: translateX(18px);
  background-color: #000000;
}
.custom-toggle-switch input:checked+.slider::before {
  -webkit-transform: translateX(18px);
  transform: translateX(18px);
  background-color: #FFFFFF;
}
.custom-toggle-switch input:checked+.slider {
  background-color: #000000;
  border: 1px solid #000000;
}

/* custom radio button  */
/* Custom styling */
.custom-radioBlue .hidden {
  display: none;
}

.custom-radioBlue label {
  display: flex;
  align-items: center;
}

.custom-radioBlue label span {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  border: 1px solid #3B2A6F;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
}

.custom-radioBlue label span::after {
  content: '';
  position: absolute;
  width: 10px; /* Adjust size as needed */
  height: 10px; /* Adjust size as needed */
  border-radius: 50%;
  background-color: #3B2A6F;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease;
}

.custom-radioBlue input[type="radio"]:checked + label span::after {
  opacity: 1;
}
