@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #FFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.react-responsive-modal-modal:has(.customModal) {
  min-width: 424px !important;
  border-radius: 10px !important;
  padding: 36px !important;
}

.react-responsive-modal-modal:has(.confirmModal) {
  min-width: 512px !important;
  border-radius: 10px !important;
  padding: 39px 18px 1.5rem 18px !important;
}

.scrollBar::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scrollHide::-webkit-scrollbar {
  -webkit-appearance: none;
  padding: none;
}

.scrollBar::-webkit-scrollbar:vertical {
  position: relative;
  width: 4px;
  background-color: white;
}

.whiteScrollBar::-webkit-scrollbar:vertical {
  position: relative;
  width: 4px;
  background-color: #2B333B;
}

.scrollBar::-webkit-scrollbar:horizontal {
  height: 4px;
  background-color: transparent;
  border-radius: 0px !important;
}

.scrollBar::-webkit-scrollbar-thumb {
  background-color: #A79FBE;
  border: transparent;
  border-radius: 22px;
  width: 4px;
  height: 45px;
  right: 20px;
}

.react-responsive-modal-modal {
  padding: 0 !important;
}

/* Custom radio button which is used in create questionnary */
.custom-radioBlue [type='radio']:checked,
[type='radio'] {
  background-image: none;
  position: absolute;
  top: 3px;
  cursor: pointer;
}

.custom-radioBlue [type="radio"]:checked+label::before,
.custom-radioBlue [type="radio"]:not(:checked)+label::before {
  content: '';
  position: absolute;
  left: 0;
  top: calc(50% - 9px);
  width: 17px;
  height: 17px;
  border: 1px solid #AEB3B7;
  border-radius: 100%;
  background: #FFFFFF;
}

.custom-radioBlue [type="radio"]:not(:checked)+label::before {
  background-color: #FFFFFF;
}

.custom-radioBlue [type="radio"]:checked+label::before {
  border: 1px solid #AEB3B7;
  background-color: #FFFFFF;
}

.custom-radioBlue [type="radio"]:not(:checked)+label::after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.custom-radioBlue [type="radio"]:checked+label::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.custom-radioBlue [type="radio"]:checked+label::after,
.custom-radioBlue [type="radio"]:not(:checked)+label::after {
  width: 9px;
  height: 9px;
  position: absolute;
  top: calc(50% - 5px);
  content: '';
  left: 4px;
  border-radius: 100%;
  background: #FFFFFF;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.custom-radioBlue [type="radio"]:checked+label:after {
  background-color: #2B333B;
}




/* disabled radio button styling */
.custom-radiodisabled [type='radio']:checked,
[type='radio'] {
  background-image: none;
  position: absolute;
  top: 3px;
  cursor: pointer;
}

.custom-radiodisabled [type="radio"]:checked+label::before,
.custom-radiodisabled [type="radio"]:not(:checked)+label::before {
  content: '';
  position: absolute;
  left: 0;
  top: calc(50% - 9px);
  width: 17px;
  height: 17px;
  border: 1px solid #AEB3B7;
  border-radius: 100%;
  background: #FFFFFF;
  cursor:not-allowed;
}

.custom-radiodisabled [type="radio"]:not(:checked)+label::before {
  background-color: #FFFFFF;
}

.custom-radiodisabled [type="radio"]:checked+label::before {
  border: 1px solid #AEB3B7;
  background-color: #FFFFFF;
}

.custom-radiodisabled [type="radio"]:not(:checked)+label::after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.custom-radiodisabled [type="radio"]:checked+label::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.custom-radiodisabled [type="radio"]:checked+label::after,
.custom-radiodisabled [type="radio"]:not(:checked)+label::after {
  width: 9px;
  height: 9px;
  position: absolute;
  top: calc(50% - 5px);
  content: '';
  left: 4px;
  border-radius: 100%;
  background: #FFFFFF;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor:not-allowed;

}

.custom-radiodisabled [type="radio"]:checked+label:after {
  background-color: #6F7579;
}

.scrollbar_gray::-webkit-scrollbar {
  -webkit-appearance: none;
}
.scrollbar_gray::-webkit-scrollbar:vertical{
  width: 10px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 8px !important;
}
.scrollbar_gray::-webkit-scrollbar:horizontal {
  height: 6px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 8px !important;
}
.scrollbar_gray::-webkit-scrollbar-thumb {
  background-color: #DDDDDD;
  border: 1px solid #DDDDDD;
  border-radius: 22px;
  height: 8px;
  cursor: pointer;
}

/* to remove the default sidebar which is use in questionnary list */
.default-sidebar::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar {
  -webkit-appearance: none;
}

.default-sidebar::-webkit-scrollbar:vertical,
.scrollbar::-webkit-scrollbar:vertical {
  width: 0;
  background-color: transparent;
  border: none;
}

.default-sidebar::-webkit-scrollbar:horizontal,
.custom-scrollbar::-webkit-scrollbar:horizontal {
  height: 0;
  background-color: transparent;
  border: none;
}

.default-sidebar::-webkit-scrollbar-thumb,
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  height: 0;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* customized radio button */

.custom-toggle-switch .switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 21px;
  margin-bottom: 0;
}

.custom-toggle-switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-toggle-switch .slider.round {
  border-radius: 11px;
}

.custom-toggle-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #D6DDEC;
  transition: .4s;
  border: 1px solid #D6DDEC;
  width: 43px;
  height: 24px;
}


/* slider css */
/* Styling for the range input */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: #FFFFFF;
  border-radius: 5px;
  outline: none;
}

/* Track fill with gradient, reflecting the percentage */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  background: linear-gradient(to right, #2B333B 0%, #2B333B var(--percent), #FFFFFF var(--percent), #FFFFFF 100%);
  border-radius: 5px;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 10px;
  background: linear-gradient(to right, #2B333B 0%, #2B333B var(--percent), #FFFFFF var(--percent), #FFFFFF 100%);
  border-radius: 5px;
}

/* Updated styling for the thumb (ball) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: #2B333B;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  /* Move the thumb upwards by using translateY */
  transform: translateY(-30%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="range"]::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: #2B333B;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Increase size slightly on hover to indicate interactivity */
input[type="range"]::-webkit-slider-thumb:hover {
  /* transform: scale(1.2); */
  /* Slight enlargement */
  background: #2B333B;
  /* Slightly darker on hover */
}

input[type="range"]::-moz-range-thumb:hover {
  /* transform: scale(1.2); */
  background: #2B333B;
}

/* Focused state for the thumb */
input[type="range"]:focus::-webkit-slider-thumb {
  /* transform: scale(1.2); */
  background: #2B333B;
}

input[type="range"]:focus::-moz-range-thumb {
  /* transform: scale(1.2); */
  background: #2B333B;
}





/* th:has(button.sortedIcon){
  cursor:pointer;
} */
.custom-toggle-switch .slider.slider1 {
  cursor: default !important;
}

.custom-toggle-switch .slider.round::before {
  border-radius: 55%;
}

.custom-toggle-switch .slider::before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 2.5px;
  bottom: 2px;
  background-color: #FFFFFF;
  transition: .4s;
}

custom-toggle-switch input:checked+.slider::before {
  transform: translateX(18px);
  background-color: #000000;
}

.custom-toggle-switch input:checked+.slider::before {
  -webkit-transform: translateX(18px);
  transform: translateX(18px);
  background-color: #FFFFFF;
}

.custom-toggle-switch input:checked+.slider {
  background-color: #000000;
  border: 1px solid #000000;
}

/* custom radio button  */
/* Custom styling */
.custom-radioBlue .hidden {
  display: none;
}

.custom-radioBlue label {
  display: flex;
  align-items: center;
}

.custom-radioBlue label span {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  /* Adjust size as needed */
  height: 20px;
  /* Adjust size as needed */
  border: 1px solid #2B333B;
  border-radius: 50%;
  background: #FFFFFF;
}

.custom-radioBlue label span::after {
  content: '';
  position: absolute;
  width: 10px;
  /* Adjust size as needed */
  height: 10px;
  /* Adjust size as needed */
  border-radius: 50%;
  background-color: #2B333B;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease;
}

.custom-radioBlue input[type="radio"]:checked+label span::after {
  opacity: 1;
}

.custom-radioBlue input[type="radio"]:disabled+label {
  cursor: not-allowed !important;
  color: #DDDDDD;
}

.custom-radioBlue input[type="radio"]:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.custom-radioBlue label.disabled {
  cursor: not-allowed !important;
  pointer-events: none !important;
  /* Prevents click events */
  color: #DDDDDD;
  /* Gray out the label */
}

.custom-radioBlue label.cursor-not-allowed {
  cursor: not-allowed !important;
  color: #DDDDDD;
}

.custom-radioBlue input[disabled] {
  cursor: not-allowed !important;
}



/* check box  */
.checkbox input {
  opacity: 0;
  position: relative;
}

.checkbox input[type="checkbox"]:checked~label::before {
  background-color: #2B333B !important;
  border-radius: 0px;
  border: 1px solid #AEB3B7;
}

.checkbox label::before {
  content: '';
  position: absolute;
  top: 35%;
  left: 0;
  margin: 0;
  height: 24px;
  width: 24px;
  border-radius: 0px;
  transition: transform 0.28s ease;
  transform: translateY(-50%);
  border: 1px solid #AEB3B7;
}

.checkbox input[type="checkbox"]:checked~label::after {
  transform: rotate(-45deg) scale(1);
}

.checkbox label::after {
  content: '';
  display: block;
  width: 14px;
  height: 7px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(-45deg) scale(0);
  transition: transform ease 0.25s;
  will-change: transform;
  position: absolute;
  top: 2px;
  left: 4px;
}

/* Hide the default file input */
.hidden-input {
  display: none;
}

/* Style the custom label as a file upload button */
.custom-file-label {
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

/* Style the placeholder text */
.placeholder {
  margin-left: 10px;
  color: #9FACB9;
  font-size: 1rem;
}

/* Image uploader */
.image-uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-button, .remove-button {
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.upload-button:hover, .remove-button:hover {
  background-color: #0056b3;
}

.preview-img {
  max-width: 300px;
  max-height: 300px;
  margin: 10px 0;
}

.rotate-180 {
  transform: rotate(180deg);
}

